## TYPE CONVERSION ASSIGNMENT 
1. A =65 convert it into float int and string

In [2]:
A = 65
print(A)
print(type(A))

65
<class 'int'>

In [20]:
 a = 65
print(float(a))
print(type(a))

65.0
<class 'int'>

In [46]:
A = 65
print(str(A))
print(type(A))

65
<class 'int'>

2. b= 100000.45 convert into int and string.

In [33]:
B = 100000.45
print(int(B))

100000

In [48]:
B = 100000.45
print(str(B))
print(type(B))

100000.45
<class 'float'>

3. c= "534423" convert into int and flot

In [52]:
C= "534423"
print(int(C))

534423

In [54]:
C = "534423"
print(float(C))

534423.0

4.d= "Welcome to python" convert it into list tuple set

In [1]:
D = "Welcome to python"
print(list(D))

['W', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [2]:
D = "welcome to python"
print(tuple(D))

('w', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n')

In [6]:
D = "welcome to python"
print(set(D))

{'y', 'o', 'm', 'h', 't', 'l', 'c', 'p', 'n', 'e', 'w', ' '}

5. take a list of colours and convert it into tuple and set.

In [9]:
colours = ['red', 'white ', 'black' , 'pink ',' voilt' ,' brown']
print(tuple(colours))

('red', 'white ', 'black', 'pink ', ' voilt', ' brown')

In [10]:
print(set(colours))

{' voilt', 'red', ' brown', 'white ', 'black', 'pink '}

6. take a set of even numbers and convert it into list and tuple

In [11]:
A = { 2, 4, 6, 8, 10 }
print(list(A))

[2, 4, 6, 8, 10]

In [12]:
print(tuple(A))

(2, 4, 6, 8, 10)