In [4]:
list1 = [2, 9, 7, 10,98,45]
list2 = [2,9,7,10,98,45]
if list1 is list2:
    print("enter a value of the same")
else:
    print("enter valu are different")

enter valu are different

for loop

In [6]:
#write a program to print 1- 10 numbers
for i in range(1, 10):
     print(i)

1
2
3
4
5
6
7
8
9

In [14]:
fruits = ["apple", "mango", "kevi" ,"orange"]
print(fruits)
for f in fruits:
     print(f)

['apple', 'mango', 'kevi', 'orange']
apple
mango
kevi
orange

In [12]:
n = int(input("enter a number"))
for i in range(1,11):
    print(n,"*", i,"=", n* i)

enter a number 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

### write a program to print even number between 1 to 20

In [13]:
for i in range(1,21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
### ask the user to input 10 numbers and count how many are positive negative zero